body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav {
  background-color: #54b4d3;
}

nav a {
  color: white;
  font-size: large;
  font-weight: bold;
}
.msg-alert {
  /* height: 50px; */
  width: 50%;
  margin: 1rem auto;
}

textarea {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
button {
  font-weight: bold;
  font-size: large;
  border: none;
  padding: 10px 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
}
